/* ErrorPage.module.css */


    
    .error-page {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%;
    }
    
    .error-container {
      text-align: center;
      background: rgba(185, 145, 145, 0.8);
      padding: 50px;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .error-container h1 {
      font-size: 2.5em;
      color: #2e2d2d;
      margin-bottom: 20px;
    }
    
    .error-container p {
      font-size: 1.2em;
      color: #2e2d2d;
    }

    